 .box{
        margin-left: 20px;
        margin-top: 20px;
        width: 300px;
        height: 300px;
    }

.row {
    display: flex;
    .green{
        background-color: green;
    }
    .yellow{
        position: absolute;
        background-color: yellow;
        margin-left: 200px;
        top: 70px;
        opacity: 40%;
    }

    .brown{
        position: absolute;
        background-color: rgb(172, 122, 48);
    margin-left: 400px;
    opacity: 80%;
    }
    
    .red{
        position: absolute;
        background-color: red;
        margin-left: 600px;
        top: 70px;
        opacity: 70%;
    }
        .lightpurp{
            position: absolute;
            background-color: rgb(151, 78, 151);
            margin-left: 10px;
            top: 570px;
            opacity: 90%;
        }
        .purple{
            position: absolute;
            background-color: rgb(61, 4, 61);
            margin-left: 200px;
            top: 470px;
            opacity: 70%;
        }

        .blue{
            position: absolute;
            background-color: blue;
            margin-left: 400px;
            top: 570px;
            opacity: 60%;
        }

        .lightblue{
            position: absolute;
            background-color: rgb(70, 196, 247);
            margin-left: 600px;
            top: 470px;
            opacity: 70%;
        }
    }
  
