@import './config';

// @mixin  basic($width: 250px, $height: 100px) {
//   width: $width;
//   height: $height;
// };

// Nav bar
.navb {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: rgb(46, 44, 45);
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 0.3px;

  .icon {
    
    .img__divver__icon {
      background-color: rgb(0, 122, 184);
      display: flex;
      justify-content: space-around;
      width: 220px;

      .img__icon-1 {
        height: 90px;
      }
    }
  }

  .center_navb {
    width: 100%;
    background-color: rgb(46, 44, 45);
    
    .ul__center__navb {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      padding-left: 80px;

      .ul__center__navb-li{
        padding: 35px 0;
      }

      a {
        text-decoration: none;
        color: white;
      }
      a:hover{
        color: rgb(117, 117, 105);
      }
    }
  }

  .search__navb {
    padding: 35px 35px 35px 0;
    background-color: rgb(46, 44, 45);    
    margin-right: 20px;

    input {
      border: 1px solid #a5a5a5;
      background: none;
      height: 100%;
      width: 100%;
      direction: rtl;
      padding: 2px 10px 2px 10px;
      color: white;
      outline: none;
      font-size: 16px;
    }
  }
}


// Backgrounder
.backgrounder {
  padding-top: 25px;

  img {
  width: 1519px;
  }
  .over__img{
    position: absolute;
    top: 370px;
    left: 1166px;
    background-color: black;
    color: white;
    padding: 20px 50px 20px 35px;
    font-size: 50px;
  }
}


// Center content
.mini__header {
  margin: 40px;

  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.7px;

    li {
      padding-right: 10px;
      
      img {
        width: 7px;
      }
    }

    .item1__mini__header {
      color: #8e9cc0;
    }

    .item3__mini__header {
      font-weight: bold;

      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}


// Main content
.main__content {
  display: flex;
  direction: rtl;
  margin: 25px 65px;
  direction: rtl;

  .search__filtering {
    width: 22%;

    .select__filtering {
      .select__search__filtering {
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 10px 10px 10px 170px;
        outline: none;
        appearance: none;
        font-size: 16px;
        color: #61696d;
        font-family: 'Open Sans', sans-serif;
        }

        img {
          width: 15px;
          position: relative;
          bottom: 28px;
          right: 280px;
        }
        
    }

    // Button nake hakol
    .rest__button {

      .btn__rest__button {
        font-size: 16px;
        padding: 0px 143.1px;
      }
    }
  }


}














// @import './navi.scss';

.spacer {
  padding-bottom: 5000px;
}



















