// Colors
$color--red: #e91802;
$color--yellow: #ffd930;
$color--blue: #47a1d8;
$color--dark-gray: #212121;
$color--medium-gray: #4a4a4a;
$color--light-grey: #767676;

// Design
$border--left-1: 1px solid;
$border--left-3: 3px solid;