body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0;
}

.ballons {


}

.ballon-one {
    height: 100px;
    width: 100px;
    border-radius: 30px 30px 20px 20px;
    background-color: red
}