$color_1: #161616;
$color_2: #fff;
$color_3: #000;

/*appointment*/
.appointment {
	background: #f1fde1;
	.content {
		margin: 0 auto;
		padding: 120px 0;
	}
	h2 {
		color: $color_1;
		margin-top: 20px;
		margin-bottom: 50px;
		position: right;
		margin-left: 50px;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 0.5px;
		text-transform: uppercase;
	}
}
.main-btn {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 28px;
	border-radius: 50px;
	transition: 0.5s;
	margin: 10px;
	border: 2px solid #fff;
	color: $color_2;
	&:hover {
		background: #11dbcf;

		border: 2px solid #11dbcf;
		text-decoration: none;
		color: $color_2;
	}
}
.form-group {
	.btn-form {
		background: #11dbcf;
		border: 2px solid #11dbcf;
		text-decoration: none;
		color: $color_3;
	}
}
 


 
 
 
 
 