$size: 90px;

body {
    background-color: black;
}

.main {
    height: 900px;
    width: 900px;
    margin-left: 500px;
    background-color: white;
    display: flex;

    .box {
        height: $size;
        width: $size;
        position: absolute;
    }

    .box1 {
        margin-left: 550px;
        margin-top: 20px;
        background-color: #34A3C6;
    }

    .box2 {
        margin-left: 220px;
        margin-top: 130px;
        background-color: #7E69AF;
    }

    .box3 {
        margin-left: 330px;
        margin-top: 130px;
        background-color: #EE7F99;
    }

    .box4 {
        margin-left: 440px;
        margin-top: 130px;
        background-color: #9ACDC2;
    }

    .box5 {
        margin-left: 550px;
        margin-top: 130px;
        background-color: #E57E55;
    }

    .box6 {
        margin-left: 220px;
        margin-top: 240px;
        background-color: #91CB80;
    }

    .box7 {
        margin-left: 330px;
        margin-top: 240px;
        background-color: #8F9CC7;
    }

    .box8 {
        margin-left: 550px;
        margin-top: 240px;
        background-color: #F9A26E;
    }

    .box9 {
        margin-left: 660px;
        margin-top: 240px;
        background-color: #EF474D;
    }

    .box10 {
        margin-left: 770px;
        margin-top: 240px;
        background-color: #7E69AF;
    }

    .box11 {
        margin-left: 110px;
        margin-top: 350px;
        background-color: #F38084;
    }

    .box12 {
        margin-left: 220px;
        margin-top: 350px;
        background-color: #CFBD6E;
    }

    .box13 {
        margin-left: 440px;
        margin-top: 350px;
        background-color: #3EAF51;
    }

    .box14 {
        margin-left: 550px;
        margin-top: 350px;
        background-color: #32ABCC;
    }

    .box15 {
        margin-left: 660px;
        margin-top: 350px;
        background-color: #91CB80;
    }

    .box16 {
        margin-left: 110px;
        margin-top: 460px;
        background-color: #9BCEC3;
    }

    .box17 {
        margin-left: 220px;
        margin-top: 460px;
        background-color: #F58248;
    }

    .box18 {
        margin-left: 440px;
        margin-top: 590px;
        background-color: #7E69AF;
    }

    .box19 {
        margin-left: 550px;
        margin-top: 590px;
        background-color: #F0596B;
    }

    .box20 {
        margin-left: 110px;
        margin-top: 680px;
        background-color: #32ABCC;
    }

    .box21 {
        margin-left: 220px;
        margin-top: 680px;
        background-color: #E77534;
    }
}