//Hello World!
body {
  max-width: 100%;
}

//cool $
$opacity : 0.4;
$magicstuff : $opacity;

//Boxes Sample
.helloworld {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.boxes {
  display: flex;
  opacity: $magicstuff;
}

.green,
.red,
.blue,
.purple {
  width: 140px;
  height: 140px;
  margin-right: 10px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}