//Hello World!
body {
  max-width: 100%;
}

//Cool $ for wizards
$opacity : 0.5;
//shortcuts
$magicstuff : $opacity;

//Boxes Sample
.helloworld {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.boxes {
  display: flex;
  opacity: $magicstuff;
}

.green,
.red,
.blue,
.purple {
  width: 140px;
  height: 140px;
  position: absolute; //Position absloute
}

.green {
  background-color: green;
  top: 97px;
  left: 89px;
}

.red {
  background-color: red;
  top: 15px;
  left: 23px;
  z-index: 4;
}

.blue {
  background-color: blue;
  top: 63px;
  left: 60px;
}

.purple {
  background-color: purple;
  top: 164px;
  left: 169px
}
.pink {
  background-color: pink;
  top: 218px;
  left: 216px;
}