body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  width: 93vw;
  background-color: #06070d;
}

.wrapper {
  width: 100%;
}

.nav-bar {
  background-color: #06070d;
  height: 50px;
  z-index: 15;
  border-bottom: 1px ridge rgb(40, 39, 54);
  position: fixed;
  width: 100vw;
  top: 0;
}

nav {
  margin: 0 30px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-bar-btns {
  border: none;
  background-color: #06070d;
  color: white;
  font-weight: bolder;
}
nav .nav-bar-btn-color-orange {
  border: none;
  background-color: #06070d;
  color: rgb(184, 120, 3);
  font-weight: bolder;
}
nav .nav-bar-btn-color-orange:hover {
  color: rgb(233, 188, 106);
}
nav .nav-bar-font {
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
nav a {
  color: #06070d;
  text-decoration: none;
}
nav .green-on-touch:hover {
  color: rgb(0, 194, 120);
}
nav .left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .left-nav .left-nav__border--add {
  border-left: 1px solid rgb(40, 39, 54);
  border-right: 1px solid rgb(40, 39, 54);
  padding: 0 20px;
}
nav .left-nav .nav-bar-search {
  background-color: black;
  border: 1px ridge rgb(40, 39, 54);
  border-radius: 2px;
  box-sizing: border-box;
  padding: 9px 0px;
  font-size: 13px;
  background-color: transparent;
  outline-color: #35363f;
  width: 190px;
  height: 32px;
  color: white;
}
nav .left-nav form input[type=text] {
  padding-left: 28px;
}
nav .left-nav form input[type=text]:focus {
  outline-color: rgb(0, 194, 120);
  outline-style: ridge;
}
nav .left-nav form i {
  position: relative;
  left: 45px;
  font-size: 13px;
}
nav .left-nav .burger {
  fill: white;
  transition: fill 0.3s;
  cursor: pointer;
  position: relative;
  right: 12px;
}
nav .left-nav .burger:hover {
  fill: rgb(0, 194, 120);
}
nav .right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .right-nav .profile {
  background-color: rgb(49, 53, 58);
  border: none;
  height: 28px;
  width: 28px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
nav .right-nav .nav-bar-sumbit-btn {
  border: none;
  padding: 8px;
  padding-left: 30px;
  width: 130px;
  border-radius: 2px;
  font-weight: bolder;
  font-size: 14px;
  background-image: linear-gradient(to left, #55efc4, #27ae60, #55efc4);
  background-size: 250%;
  transition: 0.6s;
  color: black;
}
nav .right-nav .nav-bar-sumbit-btn:hover {
  background-position: right;
}
nav .right-nav .plus-icon {
  width: 18px;
  height: 18px;
  position: relative;
  left: 65px;
}
nav .right-nav .gif {
  height: 3.1rem;
}
nav .right-nav .ellepsis {
  color: white;
  transition: 0.3;
}
nav .right-nav .ellepsis:hover {
  color: rgb(0, 194, 120);
}

.column-nav {
  display: flex;
  flex-direction: column;
  z-index: 14;
  border-right: 1px ridge rgb(40, 39, 54);
  width: 70px;
  height: 100vh;
  background-color: #06070d;
  position: fixed;
  top: 50px;
}
.column-nav button {
  border: none;
  background-color: inherit;
  margin: 0 auto;
  padding: 17px 0;
  font-size: 17px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}
.column-nav button:hover {
  background-color: rgb(49, 49, 49);
}

.home-header {
  height: 70px;
  width: 100%;
  position: fixed;
  background-color: rgba(29, 29, 29, 0.9);
  top: 50px;
}
.home-header h2 {
  color: white;
  position: relative;
  left: 100px;
  font-size: 20px;
}

.home-header {
  z-index: 2;
}

.column-nav {
  z-index: 3;
}

.bottom-nav {
  z-index: 4;
}

.mr-20px {
  margin-right: 20px;
}

.ml-24px {
  margin-left: 24px;
}

.font-size--21px {
  font-size: 21px;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.content-wrapper {
  width: 90vw;
  margin: auto;
}

.content-home-imgs {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  max-width: 90vw;
  margin: 0 90px auto;
  margin-top: 140px;
}
.content-home-imgs img {
  width: 100%;
  height: 250px;
}
.content-home-imgs img.img-row-1 {
  grid-column: 1/span 3;
}
.content-home-imgs img.img-row-2 {
  grid-column: 4/span 2;
}
.content-home-imgs img.img-row-4 {
  grid-column: 7/span 3;
}
.content-home-imgs img.img-row2-2 {
  grid-column: 2/span 2;
}
.content-home-imgs img.img-row2-3 {
  grid-column: 4/span 2;
}
.content-home-imgs img.img-row3-1 {
  grid-column: 1/span 3;
}
.content-home-imgs img.img-row3-5 {
  grid-column: 7/span 2;
}

.footer {
  width: 97vw;
  background: linear-gradient(360deg, rgba(34, 39, 43, 0), #22272b);
  padding: 90px 20px 60px;
  height: 200px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
  margin-left: 700px;
  color: white;
  margin: 0 auto;
}
.footer-content ul {
  list-style: none;
  position: relative;
  bottom: 30px;
}
.footer-content ul li {
  margin-bottom: 25px;
}
.footer-content ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 14px;
}
.footer-content .footer-watch-section {
  width: 130px;
  font-weight: 200;
  font-size: 14px;
  position: relative;
  bottom: 50px;
}
.footer-content .footer-watch-section .watch-team-btn {
  border: none;
  padding-left: 30px;
  width: 130px;
  border-radius: 2px;
  font-weight: bolder;
  font-size: 14px;
  background-image: linear-gradient(to left, #55efc4, #27ae60, #55efc4);
  background-size: 250%;
  transition: 0.6s;
  color: black;
  height: 25px;
}
.footer-content .footer-watch-section .watch-team-btn:hover {
  background-position: right;
}
.footer-content .plus-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 4px;
  left: 7px;
  font-weight: bolder;
}

.bottom-footer {
  position: relative;
  color: white;
  font-size: 13px;
}
.bottom-footer .foot1 {
  position: absolute;
  bottom: 40px;
  left: 815px;
}
.bottom-footer .foot2 {
  position: absolute;
  bottom: 40px;
  right: 695px;
  border-left: 1px solid gray;
  padding-left: 30px;
}

.footer-logos {
  position: relative;
  bottom: 85px;
}
.footer-logos .main-logo-footer .deviantart-logo-footer {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: lighten;
}
.footer-logos .social-media-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logos .social-media-footer .social-media-logos {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.bottom-nav {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  top: 95vh;
  opacity: 0.9;
}
.bottom-nav p {
  margin-right: 20px;
}
.bottom-nav .bottom-nav-button-1 {
  background-color: inherit;
  border: 1px solid rgb(77, 77, 77);
  padding: 9px 35px;
  margin-right: 7px;
  color: black;
}
.bottom-nav .bottom-nav-button-1:hover {
  background-color: rgb(0, 0, 39);
  color: white;
}
.bottom-nav .bottom-nav-button-2 {
  margin-right: 15px;
  background-image: linear-gradient(to left, #55efc4, #27ae60, #55efc4);
  color: black;
  padding: 10px 45px;
  border: none;
}

.bottom-nav-logos {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  border: 1px solid rgb(194, 193, 193);
  padding: 7px;
  background-color: whitesmoke;
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */