<<<<<<< HEAD
body {
  background-color: bisque;
}

.completed {
  background-color: rgb(177, 209, 129);
}

.todo {
  background-color: rgb(235, 133, 133);
}

.chooseUser{
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
=======
body {
  background-color: bisque;
}

.completed {
  background-color: rgb(177, 209, 129);
}

.todo {
  background-color: rgb(235, 133, 133);
}

.chooseUser{
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
>>>>>>> 1911ed530d7039e6af8385c02f520e68a6349185
}