
.mt-150px {
    margin-top: 150px;
}

.ml-150px {
    margin-left: 150px;
}

.cube {
    width: 200px;
    height: 200px;
    display: inline-block;
}

.light-purple {
    position: relative;
    background-color: rgb(172, 1, 172);
    left: 100px;
    top: 50px;
}

.red {
    background-color: red;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.dark-green {
    background-color: darkgreen;
    position: relative;
    left: 200px;
    top: 50px;
}

.green {
    background-color: rgb(0, 158, 0);
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.purple {
    background-color: purple;
    position: relative;
    left: 300px;
    top: 50px;
}

.white {
    background-color: whitesmoke;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.green-yellow {
    background-color: greenyellow;
    position: relative;
    left: 400px;
    top: 50px;
}

.red2 {
    background-color: red;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.yellow {
    background-color: yellow;
    position: relative;
    left: 100px;
    top: 50px;
}

.dark-yellow {
    background-color: rgb(185, 185, 0);
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.lighter-purple {
    background-color: rgb(106, 0, 177);
    position: relative;
    left: 200px;
    top: 50px;
}

.light-brown {
    background-color: burlywood;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.light-green {
    background-color: rgb(0, 139, 81);
    position: relative;
    left: 300px;
    top: 50px;
}

.blue {
    background-color: blue;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.sky-blue {
    background-color: skyblue;
    position: relative;
    left: 400px;
    top: 50px;
}

.sky-blue2 {
    background-color: skyblue;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.transparency-08 {
    opacity: 0.8;
}