.contact {
    max-width: 800px;
    margin: -20px auto;
    padding: 0 20px;
    text-align: left;  
    position: relative;
    top: 510px;
    
  }
  .contact__h3 {
    margin-top: 20px;
}
  .contact__description { 
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .content__contact {
    margin-top: 120px;
    margin-bottom: 30px;
  }
   
  }


.contact .row {
    margin: 600px 0 90px;
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    
  }
  
  .contact .row .col {
    padding: 0 10px;
    width: calc(100% / 2 - 50px);
  }
  
  .contact .col p {
    margin-bottom: 10px;
  }
  
  .contact .col p i {
    color: #7a7a7a;
    margin-right: 10px;
  }
  
  .contact form input {
    height: 45px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: 1px solid #bfbfbf;
  }
  
  .contact form textarea {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    height: 150px;
    outline: none;
    resize: vertical;
    border: 1px solid #bfbfbf;
  }
  
  .contact form button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 17px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #333;
    transition: 0.2s ease;
  }
  
  .contact form button:hover {
    background: #525252;
  }


.contact .row {
    flex-direction: column;
  }

  .contact .row .col {
    width: 100%;
  }

  .contact .row .col:last-child {
    margin-top: 40px;
  }
