body {
    margin: 0;
}

div {
    display: flex;
    margin: .5rem;
    padding: 1rem;
    border: 3px solid black;
    min-height: 1rem;
    flex-grow: 1;
}

.grandparent {
    background-color: red;
    flex-direction: column;
}

.parent {
    background-color: lightblue;
}

.child {
    background-color: greenyellow;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem 0.2rem;

    button {
        padding: 0.3rem;
        flex-grow: 1;
    }
}