html{
    background-color:black;
}
$deg:90deg;
$top:500px;
$left:500px;
$comstantLeft:$left;
$constantTop:$top;

$width:500px;
$degChange:5deg;
$deg:calc(90deg - #{$degChange});

@mixin line(){
    color:black;
    position:absolute;
    width:$width;
    left:$left;

    // animation-delay: 1s;
    // animation-iteration-count: infinite;
    animation-direction:normal;
    animation-fill-mode:forwards;
    // animation-delay: 2s;;
    animation-duration: 10s;
    // transition-timing-function: ease-in-out;
    ;
}

@mixin animationStart(){
    left:$left;
    top:$top;
    transform: rotate(0deg);

}


.shape{

    .line{
        @include line();

// 73 is a nice number
        @for $i from 1 through 73{
            // The total deg move for the animation
            $deg:calc(#{$deg} + #{$degChange});

            // The equal angle of the equal sided triangle
            $angle:calc(((180deg - #{$degChange})/2));

            // The width of half of the line 
            $halfWidth:calc(#{$width} / 2);

            // Calculating the length of c (the hypotenuse)
            $c:calc((#{$halfWidth} * sin(calc(#{$deg} - 90deg))) / sin(#{$angle}) );

            // The remaining betwin c and 90 deg angle
            $equlAngle: calc(90deg - (#{$angle}) );
            // $equlAngle:5deg;
            
            $newTop: calc((#{$c} * sin(#{$equlAngle})));
            // $newLeft: calc(math.pow(#{$newTop} , 2) / math.pow(#{$c} , 2));

            $newLeft: calc((#{$c} * sin(#{$angle})));
            // $newTop: calc(500px + #{$newTop});
            
            $top:if($i != 1 ,calc(#{$newTop} + #{$top}) ,$top);     
            $left:if($i != 1 ,calc(#{$left} - #{$newLeft})  ,$left);     
            

            &:nth-child(#{$i}){
                animation-name: line-#{$i};
                animation-delay: #{$i} + 10ms;
                animation-iteration-count: infinite;
                // animation-duration: 10s;
                @keyframes line-#{$i}{
                    0% {
                        @include animationStart();
                    }
                    50% {                      
                        transform: rotate($deg);
                        top:$top;
                        left:$left;
                    }

                    100% {
                        transform: rotate(0deg);
                        top:$top;
                        left:$left;
                        // transform: rotatex($equlAngle);
                        // transform:scale3d(10 , 3 , 10);
                        transform:scale(0.001);

                    }

                }

             }

             $top:$constantTop;
             $left:$comstantLeft;
       
        }
    }

}



// //2nd spiral
// .shape{
//     hr{
//         @include line();

//         @for $i from 1 through 24{

//             $deg:calc(#{$deg} + 10deg);
//             $left:calc(500px/90*10);
//             $top:calc(#{$top} + 5px);

//             &:nth-child(#{$i}){
//                 animation-name: line-#{$i};

//                 @keyframes line-#{$i}{
//                     from{
//                         @include animationStart();
//                     }
//                     to{                      
//                         transform: rotate($deg);
//                         top:$top;
//                         left:$left
//                     }
//                 }
//         }
       
//     }

//     }

// }

//Spiral
// .shape{
//     hr{
//         @include line();

//         @for $i from 1 through 24{
//             $deg:calc(#{$deg}/.9);
//             &:nth-child(#{$i}){
//                 animation-name: line-#{$i};

//                 @keyframes line-#{$i}{
//                     from{
//                         @include animationStart();
//                     }
//                     to{
//                         // top:calc(#{$top}/#{$i});
//                         top:calc(#{$top}/1);
//                         transform: rotate($deg);
//                         left:calc(#{$left}*.9);
//                     }
//                 }
//         }
       
//     }

//     }

// }
