@import "config";
@import "colors";
@import "typography";

.main-container {

  margin-left: 220px;
  padding: 10px;

  &__topsuggestions {
    margin-top: 60px;
    display: flex;
    z-index: 2;
    align-items: center;
    overflow-x: scroll;
    padding: 5px 0;
    gap: 10px;

    &__buttons {
      color: $main-text-color;
      font-size: 14px;
      flex-shrink: 0;
      background-color: rgb(46, 48, 49);
      border-radius: 10px;
      padding: 8px;
      margin: 5px 0;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgb(69, 71, 71);
        cursor: pointer;
      }
    }
  }

  &__videos {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20px;

    &__toprow {


      &__video {

        width: 300px;
        height: 300px;
        overflow: hidden;

        &>img {
          width: 100%;
          position: relative;
          border-radius: 20px;
          transition: border-radius 0.3s, scale 0.3s;

          &:hover {
            scale: 110%;
          }
        }
      }
    }
  }
}