@import "config";
@import "colors";
@import "typography";

.main-container {
  margin-left: 220px;

  &__navbar {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      background-color: $main-background-color;
      height: 30px;
      width: 350px;
      color: blue;
      border: 0;
      border-radius: 60px;
      &:hover{

      }
    }

    button {
      img {
        filter: invert(1) sepia(10) saturate(0) hue-rotate(175deg);
      }

    }
  }
}