.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .smallBoxes {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainBox {
        width: 200px;
        height: 200px;
        border: 1px black solid;
    }
    
}