.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 200px;
    max-height: 400px;

    .smallBoxes {
        display: flex;
        max-width: 200px;
        max-height: 65px;
    }

    .mainBox {
        width: 200px;
        height: 200px;
        border: 1px black solid;
    }
    
}