.mainBox {
    display: flex;
    justify-content: center;
  }
  
  .pinkBox {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: rgb(255, 0, 157);
  }
  