.sport-section {
    margin:auto;
    width: 80%;
    display: flex;
    column-gap: 10px;
}

.article {
    display: flex;
    flex-direction: column;
    color: black;
    flex: 1;

    &__img * {
        border-radius: 20px;
        width: 100%;
    }

    &__text {
        display: flex;
        justify-content: center;
        background-color: black;
        color: white;
        padding: 10px;
    }

}

.buttons {
    margin:auto;
    width: 80%;
    display: flex;
    column-gap: 10px;
    justify-content: center;

    &__button {
        margin: 10px;
        border: none;
        padding: 5px;
        flex-basis: 10%;

        &--is-disabled {
            border: dashed red 3px;
        }

        &--add {
            background-color: green;
        }

        &--delete {
            background-color: red;
        }

        &--cancel {
            background-color: grey;
        }
    }
}