
@media (max-width: 600px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .form-container {
      width: 80%;
      margin-left: 7vw;
      margin-bottom: 2vh;
  
      label {
        display: flex !important;
        flex-direction: column !important;
        margin-bottom: 1em !important;
        font-weight: bold;
      }
  
      input {
        margin-right: 15vw;
      }
      input,
      textarea {
        width: 60% !important;
        height: 2em;
        margin-left: 15vw;
      }
    }
  
    .pending-exercises {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 100%;
      gap: 1vw;
  
      .exercises-to-add {
        flex: 0 0 25%;
        padding: 1.3vw;
        margin: 0;
  
        input {
          width: 15vw;
        }
      }
    }
    .my-workouts {
      &__subtitle {
        text-align: center;
        margin-top: 5vh;
      }
      .workout-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        p {
          font-size: 1em;
        }
      }
      .workout-box {
        width: 45%;
        margin-bottom: 2vh;
  
        input {
          width: 20vw;
          font-size: 0.8em;
        }
  
        p {
          width: 50vw;
          font-size: 0.9em;
        }
  
        .exersices-area-div {
          width: 80%;
          max-height: 20vh;
  
          .exerciseWithButtonsDiv {
            display: flex;
            justify-content: center;
            input {
              width: 6vw;
              font-size: 0.4em;
            }
          }
          .addExercise {
            justify-content: center;
            margin-top: 0.1vh;
            margin-left: 26vw;
            width: 20vw;
            height: 3vh;
            font-size: 0.7em;
          }
        }
        .temp-input {
          width: 25vw;
          height: 3vh;
        }
      }
    }
  }
  