@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
nav {
    overflow: hidden;
    background-color: #ffffff;
    top: 0;
    width: 100%;

    ul {
        margin: 0;
        padding: 15px;

        li {
            display: inline;
            font-family: "Fira Sans", sans-serif;
            font-size: 17px;

            a {
                color: #000000;
                text-decoration: none;
                padding: 14px;

                &:hover {
                    background-color: #c0c0c0;
                }
            }
        }
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    float: right;

    gap: 10px;
    border-radius: 30px;

    &-radius {
        border: solid 1px gray;
        border-radius: 30px;
    }

    &-manpic {
        background-image: url(/finalexam/pictures/manpic.png);
        width: 30px;
        height: 30px;
        background-size: cover;
    }
}

@-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

  .tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite both;
	        animation: tracking-in-expand-fwd 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite both;
}

.txt {
    &-gray {
        color: gray;
    }

    &-white {
        color: white;
    }

    &-green {
        color: green;
    }

    &-blue {
        color: rgb(0, 128, 255);
    }
}

.flex {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;

    &-only {
        display: flex;
        flex-wrap: wrap;
    }

    &-column {
        display: flex;
        flex-direction: column;
    }
}

.green {
    margin-left: 10%;
}

.datesection {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;

    &-header {
        margin-left: 3.5%;
        font-size: 1.5rem;
        margin-right: 10%;
    }

    &-box {
        height: 30px;
        font-size: 1.2rem;
        padding: 5px 15px;
        border-radius: 20px;
        background-color: rgb(241, 241, 241);
    }

    &-greenbox {
        background-color: green;
        border-radius: 30px;
        padding: 10px;
        margin-left: 20px;
    }
}

.center {
    width: 90%;
    margin-inline: auto;
}

.gridpic {
    margin-top: 20px;
    display: grid;
    gap: 10px;
    border-radius: 30px;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(4, 250px);
    grid-template-areas:
        "a a b b "
        "a a b b "
        "a a c d "
        "a a c d ";
}

.a {
    grid-area: a;
    background-image: url(/finalexam/pictures/apic.png);
}

.b-r {
    border-radius: 20px;
}

.bg-img {
    background-size: cover;
    background-position: center;
}

.b {
    grid-area: b;
    background-image: url(/finalexam/pictures/bpic.png);
}

.c {
    grid-area: c;
    background-image: url(/finalexam/pictures/cpic.png);
}

.d {
    grid-area: d;
    background-image: url(/finalexam/pictures/dpic.png);
}

.text {
    font-size: 1.2rem;
}

h1,
h2 {
    font-size: clamp(1.5rem, 5vw, 2rem);
}

p1 {
    font-size: 20px;
}

p1::after {
    content: " Read more";
    color: rgb(0, 153, 255);
}

.bottompagee {
    margin-top: 20px;
    display: grid;
    gap: 10px;
    border-radius: 30px;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(4, 250px);
    grid-template-areas:
        "header header ratingbox ratingbox "
        "text text ratingbox ratingbox "
        "text text ratingbox ratingbox "
        ". . ratingbox ratingbox ";
}

.header {
    grid-area: header;
}

.ratingbox {
    padding: 30px;
    border-radius: 30px;
    grid-area: ratingbox;
    border: 1px gray solid;

    &-head {
        font-size: 25px;
    }

    &-number {
        margin-top: 20px;
        font-size: clamp(1.5rem, 5vw, 4rem);

        &-stars {
            margin-top: 20px;
            padding: 10px;
            font-size: 20px;
        }
    }

    &-rating {
        margin-top: 20px;

        &-head {
            margin-top: 15px;
            font-size: 20px;
        }

        &-flex{
            display: flex;
        }

        &-greenline1 {
            background-color: green;
            width: 90%;
            height: 5px;
            border-radius: 10px;
        }

        &-greenline {
            background-color: green;
            width: 70%;
            height: 5px;
            border-radius: 10px;

            &-num {
                
                font-size: 20px;
                &-1{
                    margin-left: 68%;
                  margin-top: 20px;
                }
                &-2{
                    margin-left: 70%;
                    margin-top: 20px;
                }
            }
        }
    }
}

.text {
    grid-area: text;
}


.bottompage {
    display: flex;
    gap: 10px;
    margin-top: 3%;
    flex-wrap: wrap;

    &-circles {
        padding: 15px;
        border-radius: 25px;
        border: 1px solid rgb(206, 206, 206);
    }

    &-circles:hover {
        background-color: #000000;
        color: white;
    }
}


@media(max-width: 620px) {
    .gridpic {
        margin-top: 20px;
        display: grid;
        gap: 10px;
        border-radius: 30px;
        grid-template-rows: repeat(3, 80px);
        grid-template-columns: repeat(3, 105px);
        grid-template-areas:
            "a a a "
            "a a a "
            "b c d "
            "b c d ";
    }

    .bottompagee {
        margin-top: 40px;
        display: grid;
        gap: 10px;
        border-radius: 30px;
        grid-template-rows: repeat(3, 115px);
        grid-template-columns: repeat(4, 165px);
        grid-template-areas:
            "header header header"
            "text text ."
            "text text ."
            "ratingbox ratingbox .";
    }

    .ratingbox {
        padding: 30px;
        border-radius: 30px;
        grid-area: ratingbox;
        border: 1px gray solid;

        &-head {
            font-size: 25px;
        }

        &-number {
            margin-top: 20px;
            font-size: clamp(3rem, 5vw, 4rem);

            &-stars {
                margin-top: 20px;
                padding: 10px;
                font-size: 20px;
            }
        }

        &-rating {
            margin-top: 20px;

            &-head {
                margin-top: 15px;
                font-size: 20px;
            }

            &-greenline1 {
                background-color: green;
                width: 90%;
                height: 5px;
                border-radius: 10px;
            }

            &-greenline {
                background-color: green;
                width: 70%;
                height: 5px;
                border-radius: 10px;

                &-num {
                    margin-top: 8%;
                    margin-left: 52%;
                    font-size: 20px;
                }
            }
        }
    }
}


@media(max-width: 920px) {
    .datesection {
        display: flex;
        padding: 10px;
        flex-wrap: wrap;
        gap: 10px;

        &-header {
            margin-left: 3.5%;
            font-size: 2.5rem;
            margin-right: 10%;
        }

        &-box {
            height: 30px;
            font-size: 1.2rem;
            width: 90px;
            height: 90px;
            border-radius: 40px;
            background-color: rgb(241, 241, 241);
        }

        &-greenbox {
            background-color: green;
            border-radius: 30px;
            padding: 20px;
            margin-left: 20px;
        }
    }


    .gridpic {
        margin-top: 20px;
        display: grid;
        gap: 10px;
        border-radius: 30px;
        grid-template-rows: repeat(3, 120px);
        grid-template-columns: repeat(3, 220px);
        grid-template-areas:
            "a a a "
            "a a a "
            "b c d "
            "b c d ";
    }

    .bottompagee {
        margin-top: 40px;
        display: grid;
        gap: 10px;
        border-radius: 30px;
        grid-template-rows: repeat(3, 135px);
        grid-template-columns: repeat(4, 185px);
        grid-template-areas:
            "header header header"
            "text text text"
            "text text text"
            "ratingbox ratingbox ratingbox";
    }

    .ratingbox {
        padding: 30px;
        border-radius: 30px;
        grid-area: ratingbox;
        border: 1px gray solid;

        &-head {
            font-size: 25px;
        }

        &-number {
            margin-top: 20px;
            font-size: clamp(3rem, 5vw, 4rem);

            &-stars {
                margin-top: 20px;
                padding: 10px;
                font-size: 20px;
            }
        }

        &-rating {
            margin-top: 20px;

            &-head {
                margin-top: 15px;
                font-size: 20px;
            }

            &-greenline1 {
                background-color: green;
                width: 90%;
                height: 5px;
                border-radius: 10px;
            }

            &-greenline {
                background-color: green;
                width: 70%;
                height: 5px;
                border-radius: 10px;

                &-num {
                    margin-top: 8%;
                    margin-left: 72%;
                    font-size: 20px;
                }
            }
        }
    }
}
