@import '/02-SCSS/Exam/Shaked/finalexam/scss/dist/navbar.css';
@import '/02-SCSS/Exam/Shaked/finalexam/scss/dist/animation.css';
@import '/02-SCSS/Exam/Shaked/finalexam/scss/dist/colors.css';
@import '/02-SCSS/Exam/Shaked/finalexam/scss/dist/grid.css';
@import '/02-SCSS/Exam/Shaked/finalexam/scss/dist/flex.css';
@import '/02-SCSS/Exam/Shaked/finalexam/scss/dist/sections.css';
@import '/02-SCSS/Exam/Shaked/finalexam/scss/dist/fonts.css';

.center {
    width: 90%;
    margin-inline: auto;
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .navigationbar {
        display: flex;
    }

    .space,
    .heart,
    .man {
        display: none;
    }

    hr {
        margin-top: 20px;
    }

    li {
        padding: 5px;
    }

    .facilitiessec {
        margin-top: 10px;
        margin-bottom: 30px;

        &_circle {
            border-radius: 30px;
            border: solid 1px gray;
            width: 30px;
            height: 30px;
            float: left;
            margin-right: 10px;
        }
    }

    .gridpic {
        margin-top: 20px;
        display: grid;
        gap: 10px;
        border-radius: 30px;
        grid-template-rows: repeat(3, 130px);
        grid-template-columns: repeat(3, 240px);
        grid-template-areas:
            "a a a "
            "a a a "
            "b c d "
            "b c d ";
    }

    .bottompagee {
        margin-top: 40px;
        display: grid;
        gap: 10px;
        border-radius: 30px;
        grid-template-rows: repeat(3, 115px);
        grid-template-columns: repeat(4, 165px);
        grid-template-areas:
            "header header header"
            "text text text"
            "text text text"
            "ratingbox ratingbox ratingbox";
    }

    .ratingbox {
        padding: 30px;
        border-radius: 30px;
        grid-area: ratingbox;
        border: 1px gray solid;
        margin-top: 30%;

        &-head {
            font-size: 25px;
        }

        &-number {
            margin-top: 20px;
            font-size: clamp(3rem, 5vw, 4rem);

            &-stars {
                margin-top: 20px;
                padding: 10px;
                font-size: 20px;
            }
        }

        &-rating {
            margin-top: 20px;

            &-head {
                margin-top: 15px;
                font-size: 20px;
            }

            &-greenline1 {
                background-color: green;
                width: 90%;
                height: 5px;
                border-radius: 10px;
            }

            &-greenline {
                background-color: green;
                width: 70%;
                height: 5px;
                border-radius: 10px;

                &-num {
                    margin-top: 8%;
                    margin-left: 52%;
                    font-size: 20px;
                }
            }
        }
    }
}

@media(min-width: 920px) {
    .facilitiessec {
        display: none;
    }
}

@media only screen and (min-width:0px) and (max-width: 600px) {
    .bar {
        display: none;

    }

    .logo {
        margin-left: 110px;
    }

    .datesection {

        &-header,
        &-box,
        &-greenbox,
        .txt-green {
            display: none;
        }
    }

    hr {
        margin-top: 20px;
    }

    li {
        padding: 5px;
    }

    i {
        margin-left: 5px;
    }

    .facilitiessec {
        margin-top: 10px;
        margin-bottom: 30px;

        &_circle {
            border-radius: 30px;
            border: solid 1px gray;
            width: 30px;
            height: 30px;
            float: left;
            margin-right: 10px;
        }
    }

    .datesection {
        display: flex;
        padding: 10px;
        flex-wrap: wrap;
        gap: 10px;

        &-header {
            margin-left: 3.5%;
            font-size: 2.5rem;
            margin-right: 10%;
        }

        &-box {
            height: 30px;
            font-size: 1.2rem;
            width: 90px;
            height: 90px;
            border-radius: 40px;
            background-color: rgb(241, 241, 241);
        }

        &-greenbox {
            background-color: green;
            border-radius: 30px;
            padding: 20px;
            margin-left: 20px;
        }
    }

    .gridpic {
        margin-top: 20px;
        display: grid;
        gap: 10px;
        border-radius: 30px;
        grid-template-rows: repeat(3, 90px);
        grid-template-columns: repeat(3, 110px);
        grid-template-areas:
            "a a a "
            "a a a "
            "b c d "
            "b c d ";
    }

    .bottompagee {
        margin-top: 40px;
        display: grid;
        gap: 10px;
        border-radius: 30px;
        grid-template-rows: repeat(3, 135px);
        grid-template-columns: repeat(4, 185px);
        grid-template-areas:
            "header . ."
            "text text ."
            "text text ."
            "ratingbox ratingbox .";
    }

    .ratingbox {
        padding: 30px;
        border-radius: 30px;
        grid-area: ratingbox;
        border: 1px gray solid;
        margin-top: 47%;

        &-head {
            font-size: 25px;
        }

        &-number {
            margin-top: 20px;
            font-size: clamp(3rem, 5vw, 4rem);

            &-stars {
                margin-top: 20px;
                padding: 10px;
                font-size: 20px;
            }
        }

        &-rating {
            margin-top: 20px;

            &-head {
                margin-top: 15px;
                font-size: 20px;
            }

            &-greenline1 {
                background-color: green;
                width: 90%;
                height: 5px;
                border-radius: 10px;
            }

            &-greenline {
                background-color: green;
                width: 70%;
                height: 5px;
                border-radius: 10px;

                &-num {
                    margin-top: 8%;
                    margin-left: 72%;
                    font-size: 20px;
                }
            }
        }
    }
}