.sport-section {
    margin: auto;
    width: 80%;
    display: flex;
    column-gap: 10px;
}

.article {
    display: flex;
    flex-direction: column;
    color: black;
    flex: 1;

    &__title {
        margin-left:210px ;
        margin-bottom: 20px;
        font-size: 40px;
    }

    &__img * {
        border-radius: 20px;
        width: 100%;
    }

    &__text {
        display: flex;
        justify-content: center;
        background-color: black;
        color: white;
        padding: 10px;
    }

    &__paragraph {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        color: gray;

    }

    &__category{
        margin-top: 20px;
        color: gray;
    }

}

.weather{
    &__row{
        display: flex;
        margin-top: 30px;
    }

    &__title{
        color: rgb(63, 62, 62);
        margin-left: 210px;
        font-size: 40px;
    }

    &__button{
        color: gray;
        margin-left: 20px;
    }

    &__img{
        margin-left: 210px;
    }


}