*{
    margin: 0px;
    padding: 0px;
}

.header{
    justify-content:center;
    background-color: rgb(0, 0, 0);
}
.header {
    justify-content: space-between;
    display: flex;
}
.header ul {
    width: 100%;
    justify-content: space-around;
    margin-right: 150px;
    list-style: none;
    margin-top: 20px;
    display: flex;
}
.header ul a{
    float: left;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    display: flex;
    
}
.logo{
    width: 100%;
}
.logo img{
    margin-left: 150px;
    width: 120px;
    height: 60px;
}
.welcom{
    margin-left: 200px;
    margin-top: 80px; ;
}
.pic1 img{
    margin-left: 200px;
    width: 350px;
    height: 280px;
}