
@import '../config';

// Center content
.mini__header {
  margin: 40px;

  ul {
    @include flexer (flex, none, none);
    list-style: none;
    letter-spacing: 0.7px;
    padding: 0px;

    li {
      padding-right: 10px;
      
      img {
        width: 7px;
      }
    }

    .item1__mini__header {
      color: #8e9cc0;
    }

    .item3__mini__header {
      font-weight: bold;
      color: black;


      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}


// Main content

.headerMainContent {
  @include flexer (flex, center, none);
  direction: rtl;

  .selectHeaderMainContent {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px 10px 10px 0px;
    outline: none;
    appearance: none;
    font-size: 16px;
    color: #61696d;
    font-family: 'Open Sans', sans-serif;
    min-width: 311px;
    max-width: 311.1px;
    margin-right: 47px;
  }
  .selectHeaderMainContent:hover {
    background-color: #f5f5f5;          
    cursor: pointer;
  }

  img {
    width: 20px;
    position: relative;
    top: 12px;
    left: 33px;
  }

  .resultsProductsCards {
    @include flexer (flex, center, none);
    width: 70%;

    .w1 {
      font-size: 14px;
    }
  }
}


.main__content {
  @include flexer (flex, space-between, none);
  margin: 0 65px 25px;

// Aside bar
  .select__filtering {  
    margin: 20px;

    // Rest button
    .rest__button {

      .btn__rest__button {
        font-size: 16px;
        padding: 6px 12px;
        background-color: white;
        border: 1px black solid;
        color: #61696d;
        min-width: 311px;
        max-width: 311.1px;
        min-height: 38px;
        max-height: 38.1px;
        cursor: pointer;
      }
      .btn__rest__button:hover {
        background-color: #f5f5f5;
      }
      .btn__rest__button:active {
        background-color: black;
        color: white;
      }
    }

    // Category 
    .mainCategory {
      border: #dfdfdf 1px solid;
      font-size: 16px;
      padding: 12px 20px;
      margin-top: 15px;
      color: #212529;
    }

    .categoryEn2 {
      border: #dfdfdf 1px solid;
      font-size: 16px;
      padding: 10px 20px 25px;
      color: #212529;

      ul {
        list-style: none;
        padding-right: 0!important;

        li {
          cursor: pointer;
          padding: 3px 5px;
        }
        li:hover {
          border-right: 2px solid black;
        }
        li:first-child:hover {
          border: none;
        }
      }
    }
    .tatC {
      padding-right: 0;
      img {
        padding-left: 3px;
        position: relative;
        top: 4.7px;
      }
    }
  }

  // Products
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .productsCard1 {
      @include flexer (flex, center, column);
      padding: 8px;

      .imgCard {
        position: relative;
        padding-bottom: 327px;

        img {
          position: absolute;
        }
        .front:hover {
          opacity: 0;
        }
      }
      img {
        max-width: 322.49px;
        max-height: 322.49px;
      }
    } 

    .infoCards {
      @include flexer (flex, none, column);
      text-align: center;
      padding: 0.6875rem 0 64px;
      font-size: 14px;

      .palateColorFlexer {
          @include flexer (flex, center, none);
          
          .multiFlexerPalateColor {
            @include flexer (flex, none, none);
          }
          .palateColor {
            border: #212529 1px solid;
            width: 27px;
            height: 25px;
            padding: 1px 1px 1.2px;
            margin: 0 3.5px;
          }
          .blackPalateColor {
            @include backColorCard(black);
            cursor: pointer;
          }
          .whitePalateColor {
            @include backColorCard(#ffffff);
            color: #ffffff;
            cursor: pointer;
          }
          .grayPalateColor {
            @include backColorCard(#4e5359);
            color: #4e5359;
            cursor: pointer;
          }
          .olive2PalateColor {
            @include backColorCard(#7c845d);
            color: #7c845d;
            cursor: pointer;
          }
          .olivePalateColor {
            @include backColorCard(#8a805d);
            color: #8a805d;
            cursor: pointer;
          }
          .bodyPalateColor {
            @include backColorCard(#e3dcd6);
            color: #e3dcd6;
            cursor: pointer;
          }
          .whiteyPalateColor {
            @include backColorCard(#f2f3fe);
            color: #f2f3fe;
            cursor: pointer;
          }
          .hardGrayPalateColor {
            @include backColorCard(#653f52);
            color: #653f52;
            cursor: pointer;
          }
          .creamPalateColor {
            @include backColorCard(#b7ad9e);
            color: #b7ad9e;
            cursor: pointer;
          }
      }   

      .kotarot {
          a {
            font-size: 17px;
            text-decoration: none;
            color: black;
            
            div {
              padding: 5px 0;
              
              span:hover {
                border-bottom: 2px black solid;
              }
            }
            .kotertMishne {
              font-size: 14px;
              margin-bottom: 15px;
            }
          }
      }
      .price {
          font-size: 14px;
          font-weight: bold;
          
          .discountPrice {
            color: red;
          }

          .clearPrice {
            border:#212529 0.5px solid;
            @include flexer(flex, none, column);
            width: 60px;
            position: relative;
            bottom: 10px;
            right: 160px;
          }
      }
      .descriptoin {
          font-weight: bold;
      }
    }
  }

  
}

.showMore {

  .centerShowMore {
    text-align: center;
    margin: 0 0 100px;
    padding: 10px;
    
    button {
      border: 1px solid black;
      padding: 6px 12px;
      font-size: 16px;
      width: 332.5px;
      cursor: pointer;
      border-radius: 0;
      background-color: white;
    }
    button:active {
      background-color: black;
      color: white;
      border: 2.5px solid #7f7f7f;
      
    }
  }
}