@import '../config';

.flexStarterNav {
  position: fixed;
  min-width: 1519px;
  z-index: 1;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);


    .preNav {
    @include flexer (flex, none, none);
    align-items: flex-start;
    background-color: white;
    width: 100%;
    direction: ltr;
    height: 48px;

    .one {
      width: 37.5px;
      height: 46px;
      padding-left: 2px;
    }
    .two {
      width: 43px;
      height: 47px;
      padding-left: 4px;
    }
    .three {
      width: 32px;
      height: 45px;
      padding: 1px
    }
  }

  .navb {
    @include flexer (flex, center, none);
    width: 100%;
    background-color: rgb(46, 44, 45);
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 0.3px;
    direction: ltr;
    height: 84px;

    .icon {
      
      .img__divver__icon {
        background-color: rgb(0, 122, 184);
        display: flex;
        justify-content: space-around;
        width: 204px;
        height: 84px;

        .img__icon-1 {
          height: 78px;
          width: 174px;
          padding-top: 2px;
        }
      }
    }

    .center_navb {
      width: 100%;
      background-color: rgb(46, 44, 45);

      
      .ul__center__navb {
        @include flexer(flex, space-between, none);
        list-style: none;
        padding-left: 80px;
        padding-right: 25px!important;

        .ul__center__navb-li{
          padding: 27.5px 0;
          
        }

        a {
          text-decoration: none;
          color: white;
        }
        a:hover{
          color: rgb(117, 117, 105);
        }
      }
    }

    .search__navb {
      padding: 25px 25px 30px 0;
      background-color: rgb(46, 44, 45);    
      margin-right: 5px;

      input {
        border: 1px solid #a5a5a5;
        background: none;
        height: 100%;
        width: 82%;
        direction: rtl;
        padding: 1px 15px 1px 5px;
        color: white;
        outline: none;
        font-size: 16px;

      
      }
      img {
        width: 30px;
        height: 30px;
        position: relative;
        bottom: 31px;
        right: 135px;
        cursor: pointer;
      }
    }
  }
}