html,
body {
  height: 100%;
  margin: 0;
}

.main {
  height: 100%;
  width: 100%;
  background-color: white;
}

//MIXINS TEMPLATES

@mixin idealpic {
  border: 0;
  height: auto;
  vertical-align: middle;
  border-radius: 10%;
  position: center;
}
@mixin defaultnavbarset {
  height: 20px;
  width: 80px;
  margin-left: 2%;
  font-weight: bolder;
  font-size: large;
  margin-bottom: 90px;
  background-color: transparent;
  border: none;
  max-width: 40%;
}