* {
  margin: 0px;
  padding: 0px;
}

.sport-section {
  margin: auto;
  width: 30%;
  display: flex;
}

article {
  display: flex;
}
.article .img  *{
  width: 30%;
  border-radius: 10px;
}
.article .text {
  width: 30%;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 10px;
}