// @media screen and (max-width: 600px) {
//     .wrapper {
//         flex-direction: column;
//         background-color: green;
//     }
// }

.wrapper {
    display: flex;
    gap: 5px;
    background-color: red;

    @media screen and (max-width: 600px) {
        flex-direction: column;
        background-color: green;
    }
}


.box {
    background-color: aqua;
}

.yellow {
    background-color: yellow;
}

@media screen and (orientation: landscape) and (max-width: 900px) {
    .wrapper {
        gap: 50px;
    }
}


// @media screen and (max-width: 900px) and (min-width: 400px), not screen and (max-width: 1200px)  {
//     body {
//         background-color: red;
//     }

//     .wrapper {
//         flex-direction: column;
//         // visibility: hidden;
//         display: none;;
//     }
// }