.like-counter {
    display: flex;
    align-items: center;
    color: red;

    button {
        margin-right: 10px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f0f0f0;
        cursor: pointer;
        
    }

    span {
        font-size: 16px;
    }
}