form{
  text-align: right;
  margin-left: auto;
}

.form{
 margin-right:60%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

img{
height: 30px;
width: 30px;
}