.top-menu {
    display: flex;
    grid-template-columns: repeat(6, auto);
    padding: 0.2rem;
    column-gap: 10px;
    border-bottom: lightgray 1px solid;

    // &__logo {
    // }

    &__nav-menu {
        display: flex;
        flex-grow: 1;
    }

    &__search {
        @include button;
    }

    &__avatar {
        @include button;
    }
}