.top-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    padding: 0.2rem;
    column-gap: 10px;
    border-bottom: lightgray 1px solid;

    // &__logo {
    // }

    &__nav-menu {
        display: flex;
    }

    &__search {
        @include button;
        grid-column: 4;
        @media screen and (min-width: $mobile-width)
        {
            grid-column: 5;
        }
    }

    &__avatar {
        display: flex;
        @include button;
        grid-column: 6;
        align-items: center;
    }
}