$fontColor: goldenrod;

body {
    background-image: url("../images/cinema.png");
    background-size: 100%;
    width: 940px;
}

.header {
    position: relative;
    margin-left: 35vw;

    h1 {
        font-family: Georgia, serif;
        color: $fontColor;
        font-size: 8vh;
    }
}

.forms {
    margin-top: 20px;
    position: relative;
    // margin-left: 35vw;
    
    * {
        font-family: Georgia, serif;
        color: $fontColor;
    }

    .black {
        color: black
    }
    
    #lists {
        position: relative;
        left: 110%;
        top: 80px;
        text-decoration: none;
    }

    &__watchList {
        display: flex;
        flex-direction: column;
    }
}

.hide {
    display: none;
}

.secPage-watchLists {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;

    td {
        border: 1px solid #333;
        width: 150px;
        height: 18px;
        background-color: white;
    }
}

a:visited {
    color: blue;
}

.go-back {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.listNames-list {
    position: relative;
    left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    color: whitesmoke;

    * {
        border: 1px solid grey;
        background-color: black;
    }
}

.table-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.line-through {
    text-decoration: line-through;
}

//drag
tr {
    cursor: move;
    user-select: none;

    & :active {
        opacity: 0.5;
    }
}

#letterboxd, #youtube {
    margin-left: 40%;
    height: 20px;
}

#letterboxd {
    width: 20px;
}

#youtube {
    width: 30px;
}
