.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    margin-top: 12%;
    border: 1px rgb(26, 26, 26) solid;
    padding: 5%;
    background-color: rgb(201, 201, 201);
    border-radius: 2%;
}

button {
    padding: 5px;
    border-radius: 5px;
    border: 1px white solid;
    width: 20%;
}

button:hover {
    opacity: 50%;
}

#login {
    text-align: center;
}

#loginButton,
#registerButton {
    margin-top: 5%;
}

#loginButton {
    margin-left: 30%;
}