.grid-conteiner {
  display: grid;
  grid-auto-rows: minmax(100px, 1fr);
  @media (max-width: 700px) {
    grid-template-columns: repeat(2, 1fr);

  }
  @media  (min-width: 700px){
    grid-template-columns: repeat(3, 1fr);
  }
  // grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: cadetblue;
  padding: 10px;
  border-radius: 10px;
}

.grid-item {
  background-color: rgb(168, 168, 168);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  @media (min-width:700px) {
    
    &:nth-child(1){
      background-color: rgb(77, 138, 97);
      grid-area: 1/1/span 1 /span 2;
    }
    &:nth-child(2){
      background-image: linear-gradient(45deg, rgb(241, 142, 29),rgb(241, 86, 86));
      grid-area: 1/3/span 4 /span 1
    }
    &:nth-child(12){
      background-color: rgb(184, 76, 76);
      grid-area: 3/2/span 3 /span 1;
    }
    &:nth-child(9){
      background-image: linear-gradient(-45deg, rgb(172, 42, 172), rgb(67, 67, 187));
      grid-area: 5/3/span 2 /span 1;
    }&:nth-child(11){
      background-image: linear-gradient(-45deg, rgb(44, 214, 95), rgb(57, 105, 42));
      grid-area: 7/1/span 1 /span 3;
    }
  }
}
