@import "navbar/navbar";
@import "articles/article";
@import "banner/mainban";
@import "mixin/mix";
@import "footer/footer";
@import "grid/grid";
@import "responsive/responsive"; 
  

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;  
    flex-direction: row-reverse;

    &__circles {
        margin-top: 40px; 
        @include wi-he(150px, 150px);
        border-radius: 100px;
        background-color: rgb(235, 233, 233);
    }

    &__circles:hover {
        background-color: #ffffff;
        border: solid 1px rgb(168, 168, 168);
    }

    &__circles__text {
        color: black;
    }
}


p {
    float: right;
    margin-right: 40px;
    font-size: 20px;
}


p2 {
    margin-left: 83%;
    font-size: 27px;
}

.fllex {
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.popser {

    float: right;
    font-size: 30px;

    &__flex {

        display: flex;
        flex-wrap: wrap;
    }

    &__popbox {
        margin-left: 20px;
        float: right;
        width: 310px;
        height: 70px;
        border: solid 1px #dbdbdb;
        border-radius: 10px;
    }

    &--img {

        margin-top: 15px;
        width: 60px;
        float: right;
    }

    &__maintext {
        margin-top: 10px;
        margin-left: 80px;
        font-size: 18px;
        float: right;
    }


    &__text {
        float: right;
        font-size: 14px;
        color: rgb(107, 107, 107);

    }

    &__popbox:hover {
        box-shadow: rgb(216, 216, 216) 0px 0px 40px;
    }
}

.se-flex {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    flex-wrap: wrap;

}