$font-size--normal: 80px;
$centext: center;


@mixin border{
    border: 3px;
    border-color: rgb(24, 25, 26);
    border-style: inset;
}
@mixin spaces  {
    margin: 50px 0px 10px 200px;
    width: 1635px;
}



