@import 'config';
.body{

    background: rgb(165, 153, 153);
};
.heading {
    @include border();
    @include spaces();
    font-size: $font-size--normal;
    height: 300px;
    text-align: $centext;
    background-size: 50% 100%;
    border-radius: 0 0 10px 10px;
}
.main_container {
    @include spaces();
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    gap: 5px;

}
.picbox {
    @include border();
    width: 24.5%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: $centext;
    transition: transform 2s ease-in;
    &__underpic {
        height: 45px;
        width: 24.5%;
        background-color: black;
        color: wheat;
        opacity: 0.0;
        text-align: $centext;
        margin: auto;
        font-size: 35px;     
        transition: 1s ease-in-out;

    }
    &__underpic:hover {
        @include border();
        transform: translateY(-95px);
        color: rgb(255, 255, 255);
        background-color: rgb(2, 2, 2);
        opacity: 1;
    }
}
.picbox:hover  {
 //   width: scale(1.5);
//   height: scale(1.5);
     transform: scale(1.5);


}
