body {
    background-color: rgb(118, 136, 238);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8rem;
}

form {
    input {
        margin: 5px 0;
        padding: 0.5rem;
        border-radius: 5px;
        flex: 1;
    }

    button {
        padding: 5px;                                                                                       
    }
}

.tasks {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 0.2rem 1rem;

    position:relative;
  top: 10px;
  left: 650px;
}

.header {
    background-color: rgb(240, 0, 252);
    padding: 0.2rem 0;
    margin: 5px 0;
}

.task-done {
    text-decoration: line-through;
}

.errors {
    font-weight: bold;
    color: red;
}



