.productContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 2vh;
}

.backToProducts {
    font-size: 70px;
    left: 0;
    position: absolute;
}

.productDescription {
    text-align: center;
}