body{
  background-color: rgb(42, 45, 51);
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
}

img{
  width: 80vw;
  border-radius: 20px;
}
button{
  background-color: transparent;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  color: white;
  transition: background-color 0.5s, box-shadow 0.5s;
  &:hover{
    background-color: black;
    box-shadow: 0 0 20px rgba(black, 0.6);
  }
}