.topHeader {
    @include flexed($direction: row);
    @include defaults($height: 100px);
    top: 0px;
    justify-content: space-between;
    background-color: #e5005c;
    color: $textColor;

    &__scores {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__scores--date {
        font-size: larger;
        font-weight: bold;
    }

    &__scores--button {
        border-radius: 20px;
        background-color: #910029;
        margin-left: 10px;
    }
}

.globalHeader {
    @include flexed();
    @include defaults();
    align-items: center;
    background-color: darkblue;
    gap: 20px;

    a {
        color: $textColor;
    }

    &--firstLink {
        margin-left: 200px;
    }
}

.logoHeader {
    @include flexed();
    @include defaults();
    flex-grow: 1;

    img {
        height: 50px;
    }

    &--israel {
        width: 22rem;
    }

    &--USA {
        width: 70rem;
    }
}

.navigationHeader {
    @include flexed($direction: row);

    &__text {
        @include flexed();
        flex-wrap: wrap;
        left: 175px;
    }

    &__text--top {
        @include flexed();
        justify-content: space-between;
    }
    
    &__text--top a {
        font-size: 25px;
        color: black;
        text-decoration: none;
        padding: 0  12px ; 
    }
    
    
    &__text--top a:hover {    
        text-decoration: underline;
        color: blue;
    }
    
    &__text--bottom {
        @include flexed();
        justify-content: space-between;
        border-bottom: 5px solid transparent;
        border-color: black
    }
    
    &__text--bottom a {
        font-size: 25px;
        color: black;
        text-decoration: none;
        padding: 0  12px ;
    }

    &__text--bottom a:hover {    
        text-decoration: underline;
        color: blue;
    }
}