.fixedHeader {
    @include flexed($position: sticky, $direction: row);
    @include defaults($height: 100px);
    top: 0px;
    justify-content: space-between;
    background-color: #e5005c;
    color: $textColor;

    &__scores {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__scores--date {
        font-size: larger;
        font-weight: bold;
    }

    &__scores--button {
        border-radius: 20px;
        background-color: #910029;
        margin-left: 10px;
    }
}

.globalHeader {
    @include flexed();
    @include defaults();
    align-items: center;
    background-color: darkblue;
    gap: 20px;

    a {
        color: $textColor;
    }

    &--firstLink {
        margin-left: 200px;
    }
}

.logoHeader {
    @include flexed();
    @include defaults();
    flex-grow: 1;

    img {
        height: 50px;
    }

    &--israel {
        width: 22rem;
    }

    &--USA {
        width: 70rem;
    }
}