@import "../config.scss";

main {
  .main {
    margin: 40px 105px;

    &__gridDevisor {
      display: grid;
      grid-template-columns: repeat(2, 1fr) 1fr;
      grid-template-rows: 1fr 2fr;
      grid-template-areas:
        "miniNavFlexerMain miniNavFlexerMain reviewParagraph"
        "ArticleMain ArticleMain reviewParagraph";

      &--miniNav {
        grid-area: miniNavFlexerMain;
        @include flexer(flex, flex-start, row);

        button {
          @include navBorder(1px solid #ededed, 25px, 0);
          background-color: #ffffff;
          color: #949696;
          font-size: 16px;
          font-weight: bold;
          padding: 0 13px;
          margin-right: 17px;
          max-height: 2.8rem;
        }
        button:focus {
          background-color: black;
          color: #fefefe;
        }
      }

      &--article {
        grid-area: ArticleMain;

        .title {
          letter-spacing: 0.03rem;
          margin: 10px 0 15px 0;
        }
        .content {
          color: #8e8e8e;
          line-height: 25px;
          span {
            color: #4e7dbc;
            font-weight: bold;
          }
        }
      }

      &--review {
        grid-area: reviewParagraph;
        @include navBorder(2px solid #ededed, 10px, 0);
        padding: 0 20px;

        span {
          color: #949494;
        }

        .title {
          margin: 20px;
          margin-left: 0;
        }

        .ratingReview {
          @include flexer(flex, flex-start, row);

          &--numRating {
            padding-right: 20px;
          }

          &--stars {
            span {
              color: #fece00;
            }
            p {
              padding-top: 0.2rem;
            }
          }
        }

        .bars {
          .miniTitle {
            @include flexer(flex, space-between, row);
          }

          &__comfortable {
            margin-top: 25px;
          }

          &__cleanliness {
            margin: 20px 0;
          }

          .skill-bar {
            height: 7px;
            margin-top: 8px;
            background-color: #f9fbfc;
            border-radius: 15px;

            .per {
              height: 7px;
              background-color: #34987d;
              border-radius: 15px;
            }
          }
        }
      }
    }
  }
}
