@import "../config.scss";

nav {
  .navBar {
    @include flexer(flex, space-between, row);
    align-items: center;

    &__item {
      // padding: 5px 5px;
      @include navBorder(none, none, 5px);
      align-items: center;
    }

    &__left {
      @include flexer(flex, flex-start, row);
      margin: 0 0 0 75px;

      &--logo {
        padding-top: 2%;
        margin: 0 40px 0 0;
        img {
          @include imgSizer(55px, 34px);
        }
      }

      &--ul {
        // margin-right: 300px;
        ul {
          @include flexer(flex, center, row);
          .first {
            color: black;
          }
          li {
            padding: 10px 0 0 0;
            margin: 0 60px 0 0;
            list-style-type: none;
            font-weight: bold;

            a {
              text-decoration: none;
              color: #827e7e;
            }

            i {
              font-size: 10px;
            }
          }
          li:hover {
            border-bottom: 2px solid black;
          }
        }
      }
    }

    &__right {
      @include flexer(flex, flex-end, row);
      margin: 0 40px 0 0;

      button {
        @include navBorder(1px solid #bdb9b9, 20px, 4px 8px);
        max-height: 35px;
        background-color: white;
        cursor: pointer;
      }

      &--search {
        i {
          position: relative;
          left: 16%;
        }
        input {
          @include navBorder(1px solid #bdb9b9, 20px, 4px);
          outline: none;
          padding-left: 40px;
          height: 35.5px;
        }
      }

      &--usa {
        button {
          @include navBorder(1px solid #bdb9b9, 20px, 2px);
          background-color: white;
          cursor: pointer;
          height: 35.5px;

          p {
            @include flexer(flex, center, row);
            align-items: center;
            .iconUsa {
              @include imgSizer(25px, 25px);
            }
            span {
              padding: 0 5px;
            }
            .arrowImg {
              @include imgSizer(18px, 10px);
            }
          }
        }
      }

      &--heart {
        height: 34.5px;

        span {
          img {
            @include imgSizer(25px, 25px);
          }
        }
      }

      &--profile {
        span {
          .hamburgerIconProfileNavBar {
            @include imgSizer(18px, 20px);
          }

          .profileIconProfileNavBar {
            @include imgSizer(23px, 24px);
          }
        }
      }
    }
  }
}
