@import "config";
@import "colors";
@import "typography";

.top-navbar {
  position: fixed;
  z-index: 3;
  padding: 10px 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: $main-background-color;

  &__youtubelogo {
    display: flex;
    width: 220px;
    flex-shrink: 0;

    &>a {
      img {
        position: relative;
        top: 38px;
        width: 30px;
        filter: invert(1) sepia(10) saturate(0) hue-rotate(175deg);
      }
    }

    .youtube-image {
      width: 160px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__searchbar-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;

    input {
      background-color: $main-background-color;
      height: 40px;
      width: 50px;
      color: white;
      border: 1px rgb(75, 75, 75) solid;
      padding-left: 15px;
      border-radius: 20px 0 0 20px;
      flex-grow: 3;


      &:focus {
        outline: 0;
      }

    }

    button {
      width: 40px;
      height: 34px;
      background-color: rgb(34, 34, 34);
      border: 1px rgb(75, 75, 75) solid;
      border-radius: 0 20px 20px 0;
      padding: 3px;
      flex-shrink: 3;

      &:hover {
        cursor: pointer;
        background-color: rgb(54, 54, 54);
      }

      img {
        height: 50%;
        filter: invert(0.6) sepia(10) saturate(0) hue-rotate(175deg);
      }

    }

    .mic-white {
      border-radius: 50%;
      padding: 8px;
      background-color: rgb(20, 20, 20);
      width: 20px;
      margin-left: 15px;

      &:hover {
        cursor: pointer;
        background-color: rgb(53, 53, 53);
      }
    }
  }

  &__right-icons {

    .videos-class {
      padding: 5px 3px;
    }

    .notifications-class {
      position: relative;
      top: 5px;
    }

    .account-class {
      position: relative;
      top: 2px;
      width: 30px;
    }

    img {
      width: 35px;
      border-radius: 50%;
      padding: 5px;

      &:hover {
        cursor: pointer;
        background-color: rgb(53, 53, 53);
      }
    }
  }
}