// .head1{
//   background-color: antiquewhite;
//   display: inline-block;
// }

.head1-from-ts{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333232;
  color: white;
}
