.container{
width: 400px;
height: 600px;
background-color: rgb(255, 255, 255);
display: flex;
flex-wrap: wrap;
flex-direction:row;
border: 5px;
border-color: black;
border-style: dashed;
justify-content:space-between;
gap: 15px 15px;
align-items: center;


 
}
.Box1{
    height: 45px;
    width: 45x;
    background-color: yellow;
    flex-basis: 40px; 
}
.Box_Blank{
    height: 45px;
    width: 45px;
    background-color: rgb(255, 255, 255);
    flex-basis: 40px;
     
}