.blueBox {
  background-color: rgb(4, 0, 255);
  height: 5rem;
  width: 5rem;
  margin-bottom: 5px ;
}

.purpleBox {
  background-color: rgb(255, 0, 242);
  height: 5rem;
  width: 5rem;
  margin-bottom: 5px ;

}

.yellowBox {
  background-color: rgb(238, 255, 0);
  height: 5rem;
  width: 5rem;
  margin-bottom: 5px ;

}
