


.BOX_1 {

    position: relative;
    left: 160px;
    top: 80px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #CF3ADA;
    color: white;
}

.box_2 {

    position: relative;
    left: 280px;
   bottom: -30px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #60A195;
    color: white;
    
}


.BOX_3 {

    position: relative;
    left: 410px;
   bottom: 25px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #C5D9BB;
    color: white;
}

.BOX_4 {

    position: relative;
    left: 530px;
   bottom: 80px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #E42ECE;
    color: white;
}

.box_5 {

    position: relative;
    left: 530px;
   bottom: 200px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #D79657;
    color: white;
}

.BOX_6 {

    position: relative;
    left: 159px;
   bottom: 100px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #BAB6B4;
    color: white;
}







.BOX_7 {

    
    position: relative;
    left: 280px;
   bottom: 150px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #688D50;
    color: white;
}

.box_8 {

    position: relative;
    left: 530px;
   bottom: 200px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #7525C3;
    color: white;
}

.BOX_9 {

    position: relative;
    left: 660px;
   bottom: 250px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #688D50;
    color: white;
}

.BOX_10 {

    position: relative;
    left: 790px;
   bottom: 300px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #4BDDB9;
    color: white;
}

.box_11 {

    position: relative;
    left: 50px;
   bottom: 290px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #E42ECE;
    color: white;
}

.BOX_12 {

    position: relative;
    left: 50px;
   bottom: 250px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #688D50;
    color: white;
}




.BOX_13 {

    position: relative;
    left: 50px;
   bottom: 100px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #E42ECE;
    color: white;
}

.box_14 {

    position: relative;
    left: 159px;
   bottom: 350px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #688D50;
    color: white;
}


.BOX_15 {

    position: relative;
    left: 159px;
   bottom: 495px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #4BDDB9;
    color: white;
}


.box_16 {

    position: relative;
    left: 410px;
   bottom: 550px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #E42ECE;
    color: white;
}


.BOX_17 {

    position: relative;
    left: 530px;
   bottom: 600px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #BAB6B4;
    color: white;
}

.BOX_18 {

    position: relative;
    left: 660px;
   bottom: 650px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #4BDDB9;
    color: white;
}

.BOX_19 {

    position: relative;
    left: 400px;
   bottom: 510px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #4BDDB9;
    color: white;
}

.BOX_20 {

    position: relative;
    left: 520px;
   bottom: 560px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #E42ECE;
    color: white;
}


.BOX_21 {

    position: relative;
    left: 150px;
   bottom: 512px;
    width: 50px;
    height: 50px;
    border: solid black 1px;
    background-color: #4BDDB9;
    color: white;
}