@import 'config';

@mixin defaults($font-size:16, $margin:auto, $padding:5px) {
    // font-size: #{$font-size}px;
    font-size: $font-size;
    margin: $margin;
    padding: $padding;
};

@mixin flexed($direction:row) {
    display: flex;
    flex-direction: $direction;
}

.sport-section {
    @include defaults(20px, auto, 50px);
    @include flexed();
    width: 80%;
    column-gap: $column-gap;
}

@import 'components/article';
@import 'components/buttons';