body{
  background-color: rgb(42, 45, 51);
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
}

input{
  padding: 10px;
  border-radius: 10px;
}

.error{
  color: white;
  opacity: 0;;
}