.button {
    background-color: gray !important;
    padding: 10px;
    margin: 5px;
}

.buttons {
    height: 50px;
}

.wrapper {

    // a:not([class="button"]) {
    a {
        background-color: yellow;
    }
}