@mixin phone {
    width: clamp(375px, 100%, 600px);
}

@mixin border {
    border: solid 1px rgb(228, 225, 225);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;


}

.main {
    &__top {
        background-color: white;
        height: 60px;
        border-top: 0.5px solid rgb(224, 224, 224);
        border-bottom: 0.5px solid rgb(224, 224, 224);
        width: clamp(375px, 100%, 600px);
        display: flex;
        justify-content: space-between;

        &__navbar {
            position: absolute;
            float: left;
            display: none;
            width: clamp(200px, 55%, 400px);
            justify-content: space-between;
            margin-left: 100px;
            margin-top: 10px;
            color: gray;

            p:nth-child(1) {
                color: black;
                font-weight: 500;
            }
        }

        &__logo {
            img {
                height: 60px;
                width: 60px;
            }
        }

        &__right {
            width: 160px;
            float: right;
            display: flex;
            margin-top: 4px;

            &__search {
                @include border();
                border-radius: 50px;
                height: 50px;
                width: 50px;

                img {
                    height: 20px;
                    width: 20px;
                    margin: 15px;
                }
            }

            &__menu {
                display: inline-flex;
                @include border();
                border-radius: 50px;
                height: 50px;
                width: 90px;

                img {
                    height: 28px;
                    width: 28px;
                    margin: 15px;
                    border-radius: 50%;
                    margin-left: 8px;
                    margin-top: 10px;
                }
            }

        }
    }

    &__choosedate {
        display: none;
    }

    &__head {
        background-color: #ffffff;
        @include phone();
        margin-left: 10px;

        p {
            font-size: 15px;
            margin-top: 20px;
        }

        p>span {
            color: grey;
        }

        h2 {
            font-size: 35px;
            font-weight: 500;
            margin-top: 35px;

        }

        &__circles {
            background-color: #633597;
            float: right;
            width: 350px;
            height: auto;
            justify-content: space-between;
            display: flex;

            &__circle {
                border-radius: 50px;
                height: 45px;
                width: 45px;
                background-color: rgb(219, 219, 219);
                margin-top: -90px;
                position: absolute;
                float: right;


                img {
                    height: 20px;
                    width: 20px;
                    margin: 12px;
                }

            }


            .heart {
                margin-left: 280px;
                display: block;

            }

            .share {
                margin-left: 220px;
                display: block;
            }
        }

        &__location {
            img {
                height: 20px;
                width: 20px;
                margin-top: 5px;
            }

            p {
                color: gray;
                line-height: 30px;
                font-size: 13px;
            }
        }

        &__pics {
            display: grid;
            grid-template-columns: 1fr;
            gap: 15px;

            &__mainpic {
                margin: 0px;

                img {
                    width: clamp(350px, 100%, 600px);
                    height: clamp(250px, 100%, 600px);
                    border-radius: 20px;
                }

            }

            &__otherpics {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                margin-top: 15px;

                img {
                    margin: 10px;
                    width: clamp(80px, 90%, 190px);
                    height: clamp(110px, 90%, 190px);
                    border-radius: 10px;
                }

            }
        }

        &__buttons {
            display: flex;
            width: clamp(370px, 100%, 580px);
            justify-content: space-between;

            &__button {
                height: 50px;
                width: 100px;
                @include border();
                background-color: #ffffff;
                border-radius: 30px;
                margin-left: 15px;

                p {
                    font-size: 15px;
                    color: gray;
                    margin-top: 15px;
                    margin-left: 20px;
                }

                &:hover {
                    background-color: black;

                    p {
                        color: rgb(255, 255, 255);
                    }
                }

            }

            .whats {
                width: 140px;
            }

            .faq {
                width: 70px;

            }
        }
    }

    &__text {
        h2 {
            font-size: 27px;
            font-weight: 400;
        }

        p {
            color: gray;
            font-size: 15px;
            line-height: 20px;
            width: clamp(370px, 100%, 580px);


            span {
                color: blue;
            }
        }

    }

    &__booking {
        background-color: white;
        height: 80px;
        width: 98%;
        padding: 5px;
        margin-left: -10px;
        position: fixed;
        bottom: 0;
        z-index: 1;

        p:nth-child(1) {
            margin-top: 10px;
            font-weight: 500;
            color: rgb(5, 5, 5);

        }

        >p {
            margin-top: -5px;
            margin-left: 20px;
            font-size: 13px;
            color: gray;

            span {
                color: #35977D;
                font-size: 22px;
                font-weight: 500;
            }

        }

        &__book {
            height: 60px;
            width: 200px;
            background-color: #35977D;
            margin-left: 160px;
            margin-top: -65px;
            border-radius: 30px;
            float: right;


            p:nth-child(1) {
                color: white;
                font-size: 18px;
                transform: translate(65px, 8px);
                width: 100px;
            }
        }
    }

    &__facilities {
        h2 {
            font-size: 27px;
            font-weight: 400;
        }

        &__facil {
            display: flex;

            &__icon {
                border-radius: 50px;
                height: 40px;
                width: 40px;
                background-color: rgb(219, 219, 219);
                // position: absolute;


                img {
                    height: 22px;
                    width: 22px;
                    margin: 9px;
                }
            }

            p {
                font-size: 17px;
                margin-top: 11px;
                margin-left: 10px;
            }
        }

        h4 {
            font-size: 17px;
            margin-left: 5px;
            color: blue;
            font-weight: 200;
        }


    }

    &__reviews {
        @include border();
        border-radius: 30px;
        width: clamp(370px, 90%, 580px);
        height: 400px;
        transform: translate(15px, 25px);
        margin-bottom: 150px;


        p {
            font-size: 22px;
            font-weight: 500;
            margin: 30px;
        }

        &__numbers {
            display: flex;

            &__nums {
                justify-content: space-between;
                margin-top: 25px;
                margin-left: 10px;
                font-size: 50px;
                font-weight: 500;

                &__stars {
                    p {
                        font-size: 17px;
                        line-height: 25px;
                        color: gray;
                        font-weight: 100;
                        margin-left: 10px;
                    }
                }

            }

        }

        &__text {
            display: flex;
            width: clamp(370px, 90%, 580px);
            justify-content: space-between;

            p {
                font-size: 15px;
                font-weight: 100;
            }
        }

        &__line {
            border-top: #35977D solid 5px;
            border-radius: 30px;
            width: clamp(250px, 70%, 580px);
            margin-left: 30px;
            margin-top: -25px;
        }

    }
}

@media screen and (min-width: 600px) {
    .main__top {
        width: 100%;

    }

    .main__choosedate,
    .main__top__navbar {
        display: flex;
    }

    .main__booking {
        display: none;
    }

}