$font-size--normal: 80px;
$centext: center;


@mixin border{
    border-radius: 15px;
    border: 5px;
    border-color: rgb(255, 255, 255);
    border-style: outset;   
}
@mixin spaces  {
    margin: auto;
}
.fix{

    background-color: black;
}



