@import 'config';

.body {

    background: rgb(165, 153, 153);
}

;

.heading {
    @include border();
    @include spaces();
    font-size: $font-size--normal;
    width: 100%;
    height: 300px;
    text-align: $centext;
    background-size: 50% 100%;
    border-radius: 0 0 10px 10px;
}

.main_container {
    @include spaces();
    display: grid;
    grid-template-columns: 800px repeat(4,4fr);
    grid-template-rows: 600px 200px 600px 200px;
    height: 600px;
    gap: 5px;

}
.menu{
    grid-row-start: 1;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 1;



}.picbox {
    @include border();

    background-size: cover;
    background-repeat: no-repeat;
      background-position: $centext;
    transition: transform 1s ease-in;

    &__underpic {
        height: 90px;
        width: 98%;
        background-color: black;
        color: wheat;
        opacity: 0.5;
        text-align: $centext;
        margin: center;
        font-size: 85px;;
        transition: transform 1s ease-in-out;

    }

    &__underpic:hover {
        @include border();
 //       transform: translateY(-65px);
        color: rgb(255, 255, 255);
        background-color: rgb(2, 2, 2);
        opacity: 1;
    }
}

.picbox:hover {
    transform: scale(1.1);
}

.runnig_header {
    font-size: 35px;
    height: 40px;
    width: 100%;
    //background-color: black;
    color: white;
    animation: slide-in-left 17s linear infinite;
}

.slide-in-left {
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-in-left {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    50% {
        transform: translateX(50%);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 1;
    }
}