body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title * {
    color: rgb(77, 77, 77);
    border-left: 2px solid yellow;
    padding-left: 10px;
    margin-right: 865px;
}


.sport-section {
    margin:auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    justify-content: center;
    align-items: center;

    &__main {
        display: flex;
        gap: 10px;
    }
}




.article {
    display: flex;
    flex-direction: column;
    color: black;

    &__img * {
    }
    &__text {
        max-width: 300px;
    }
    &--gray {
        color: gray;
        border-left: 2px solid yellow;
        padding-left: 10px;
    }
}

.weather-section {

&__sub-title {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 650px;

    &--para {
        color: gray;
    }
}

&--button {
    height: 30px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

&__content {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 520px;

    img{
        width: 30px;
        object-fit: contain;
        margin: 30px;
    }

    p {
        max-width: 30px;
    }
}

}