@import 'mediaConfig';
// <-------------------------------------- About Page ------------------------------------> //
.about {
    background-image: url("../Images/aboutBackGround.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    &__section {
        display: grid;
        place-items: center;
        align-content: center;
        min-height: 101vh;
    }


    h2 {
        position: relative;
        text-align: center;
        font-size: 3rem;
        bottom: 17vh;
        padding-bottom: 1vh;
        color: white;
    }



    h1 {
        position: relative;
        text-align: center;
        font-size: 5rem;
        bottom: 17vh;
        color: white;
    }

    p {
        position: relative;
        text-align: start;
        bottom: 17vh;
        max-width: 45vw;
        color: white;
    }
}

@media only screen and (max-width: $small-screen) and (min-width: 250px){
    .about {
    
        &__section {
            display: grid;
            place-items: center;
            align-content: center;
            min-height: 101vh;
            padding-top: 30vh;
        }
    
    
        h2 {
            position: relative;
            text-align: center;
            font-size: 40px;
            bottom: 17vh;
            padding-bottom: 1vh;
            color: white;
        }
    
    
    
        h1 {
            position: relative;
            text-align: center;
            font-size: 55px;
            bottom: 17vh;
            color: white;
        }
    
        p {
            position: relative;
            text-align: start;
            bottom: 17vh;
            max-width: 85vw;
            color: white;
        }
    }
}

@media screen and (max-width: $medium-screen) and (min-width: $small-screen) {
    .about {
        background-position: center;
        background-repeat: no-repeat;
        &__section {
            display: grid;
            place-items: center;
            align-content: center;
            min-height: 101vh;
        }
    
    
        h2 {
            position: relative;
            text-align: center;
            font-size: 55px;
            bottom: 17vh;
            padding-bottom: 1vh;
            color: white;
        }
    
    
    
        h1 {
            position: relative;
            text-align: center;
            font-size: 80px;
            bottom: 17vh;
            color: white;
        }
    
        p {
            position: relative;
            text-align: start;
            bottom: 17vh;
            max-width: 85vw;
            color: white;
        }
    }
}

@media screen and (max-width: $large-screen) and (min-width: $medium-screen) {
    .about {
        &__section {
            padding-top: 15vh;
        }
    
    
        h2 {
            position: relative;
            text-align: center;
            font-size: 55px;
            bottom: 17vh;
            padding-bottom: 1vh;
            color: white;
        }
    
    
    
        h1 {
            position: relative;
            text-align: center;
            font-size: 80px;
            bottom: 17vh;
            color: white;
        }
    
        p {
            position: relative;
            text-align: start;
            bottom: 17vh;
            max-width: 85vw;
            color: white;
        }
    }
}


// <-------------------------------------- About Page ------------------------------------> //