@import 'mediaConfig';
// <-------------------------------------- Profile Page ------------------------------------> //

.profile {
    color: black;
    background-image: url("../Images/profileBackGround.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    min-height: 100%;
    z-index:-1;

    &__section {
        padding-top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__header {
            margin-bottom: 5vh;
            h1 {
                color: white;
                text-align: center;
            }
        }

        &__img {
            img{
                width: 25vw;
                height: 25vw;
                border-radius: 50%;
            }
        }

        &__buttons {
            margin-top: 4vh;
            display: flex;
            justify-content: space-between;
            width: 25vw;

            &--button {
                position: relative;
                padding: 11px 16px;
                font-size: 20px;
                line-height: 1.5;
                border-radius: 3px;
                background-color: transparent;
                border: 0;
                transition: 0.2s;
                overflow: hidden;
                color: white;
                
                input {
                    cursor: pointer;
                    position: absolute;
                    left: 0%;
                    top: 0%;
                    transform: scale(3);
                    opacity: 0;
                }
            }
            &--button:hover {
                background-color: white;
                color: black;
            }

            input[type="button"] {
                background-color: transparent;
                border: none;
                cursor: pointer;
                padding: 5px;
                border-radius: 10px;
                color: white;
            }

            input[type="button"]:hover {
                background-color: white;
                color: black;
            }
        }
    }
}

@media only screen and (max-width: $small-screen) and (min-width: 250px){

    .profile {

        &__section {
            padding-top: 30vh;
    
            &__header {
                margin-bottom: 5vh;
                h1 {
                    color: white;
                }
            }
    
            &__img {
                img{
                    width: 40vw;
                    height: 40vw;
                    border-radius: 50%;
                }
            }
    
            &__buttons {
                margin-top: 4vh;
                display: flex;
                justify-content: space-between;
                width: 50vw;
            }
        }
    }
}

@media screen and (max-width: $medium-screen) and (min-width: $small-screen) {

    .profile {

        &__section {
            padding-top: 25vh;
    
            &__header {
                margin-bottom: 5vh;
                h1 {
                    color: white;
                }
            }
    
            &__img {
                img{
                    width: 40vw;
                    height: 40vw;
                    border-radius: 50%;
                }
            }
    
            &__buttons {
                margin-top: 4vh;
                display: flex;
                justify-content: space-between;
                width: 50vw;
            }
        }
    }
}

@media screen and (max-width: $large-screen) and (min-width: $medium-screen) {
    .profile {

        &__section {
            padding-top: 26vh;
    
            &__header {
                h1 {
                    font-size: 45px;
                    color: white;
                }
            }
    
            &__img {
                img{
                    width: 40vw;
                    height: 40vw;
                    border-radius: 50%;
                }
            }
    
            &__buttons {
                margin-top: 4vh;
                display: flex;
                justify-content: space-between;
                width: 50vw;
                margin-bottom: 5vh;
            }
        }
    }
}
// <-------------------------------------- Profile Page ------------------------------------> //
