$fontColor: goldenrod;

body {
    background-image: url("../images/cinema.png");
    background-size: 100%;
    width: 940px;
}

.header {
    position: relative;
    margin-left: 35vw;

    h1 {
        font-family: Georgia, serif;
        color: $fontColor;
        font-size: 8vh;
    }
}

.forms {
    margin-top: 20px;
    position: relative;
    // margin-left: 35vw;
    
    * {
        font-family: Georgia, serif;
        color: $fontColor;
    }

    .buttons {
        color: black
    }
    
    #lists {
        position: relative;
        left: 110%;
        top: 80px;
    }

    &__watchList {
        display: flex;
        flex-direction: column;
    }
}

.hide {
    display: none;
}

.secPage-watchLists {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;

    td {
        border: 1px solid #333;
        width: 150px;
        height: 18px;
        background-color: white;
    }
}

.listNames-list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    font-size: 25px;
    color: whitesmoke;

    * {
        border: 1px solid grey;
        background-color: black;
    }
}