body {
    background-image: url("../images/background.png");
    background-size: cover;
}

.header {
    position: relative;
    left: 35%;

    h1 {
        font-family: Georgia, serif;
        color: goldenrod;
        font-size: 8vh;
    }
}


.forms {
    margin-top: 20px;
    
    * {
        font-family: Georgia, serif;
    }
    
    #lists {
        position: relative;
        left: 70%;
    }

    &__watchList {
        display: flex;
        flex-direction: column;
    }
}

.hide {
    display: none;
}