$col-primary:#4aa585;
$radius:20px;
$gap:1.3rem;
$col-btn:rgb(233, 233, 233);
$light:white;
$max-gal-img:12vw;
$activ-nav-color:black;
$col-prim-text:rgb(174, 172, 172);
$hightligh: #FCDE34;
$default: #424143;
$nav:#EFF1ED;
$col-light:rgb(237, 236, 236);