*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes ballon {
  0% {
    top: 65vh;
  }

  90% {
    top: 0px;
    filter: drop-shadow(0px 0px 10px rgba(146, 21, 21, 0.5));
    scale: 60%;
  }

  100% {
    scale: 130%;
    filter: drop-shadow(0px 0px 40px rgba(255, 0, 0, 3));
  }
}

@keyframes hiddenballon {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {

  background-color: rgb(15, 15, 15);
  overflow:hidden;

  div {
    margin-top: 20px;
    display: flex;
    gap: 4rem;
    justify-content: center;

    .balloon {
      width: 200px;
      position: relative;
      z-index: 2;
      animation-name: ballon;
      animation-duration: 3.5s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
      // -webkit-filter: drop-shadow(5px 5px 5px #f1f0f0);

      &:active {
        animation-name: hiddenballon;
        // animation-duration: 3s;
        // animation-timing-function: ease-in;
      }
    }

    @for $i from 1 through 6 {
      .balloon-#{$i} {
        animation-delay:#{$i}s;
      }
    }
  }

  .grass {
    position: fixed;
    bottom: 0;
    width: 50vw;
    height: 350px;
    margin-left: -5px;
  }

  .right {
    left: 50vw;
  }
}