*{
    padding:0;
    margin: 0;
}
body{
    background-color: black;
    color: white;
}
.logo {
   text-align: center;
}
.had{
    border-bottom: 5px solid white;
    width: auto;
    height:100px;
    display: flex;
}
.had img{
    width: 100px;
    height:auto;
}
.list{
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
}

.list li a{
    font-size: 230%;
    margin: 15px;
    text-decoration: none;
    color: white;
}
.list li {

    margin-top: 20px;
    margin-left: 35px;
list-style: none;
}
.harde{
    color: beige;
    font-weight: bold;
}
.margin{
    padding-top: 100px;
}
.margin h1 {
    text-decoration:underline;
    font-family: Monospace;
    margin-bottom: 100px;
    text-align: center;
    font-size: 500%;
    font-weight: bolder;
    color: white;
}
.img1_1 img{
    width: 100% !important;
    height: auto;
}
.img1_1 p{
    color: white;
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin-bottom: 35px;
}
.img1_1 h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: right;
    font-size: 300%;
    margin-bottom: 15px;
}
.block_pic2{
    background-color: #DE1A1A;
    display: flex;
    margin: 1px;
    direction: rtl;
    margin: 25px 25px 25px 25px;
}
.block_pic3{
    background-color: #1417AC;
    display: flex;
    margin: 1px;
    direction: rtl;
    margin: 25px 25px 25px 25px;
}
.block_pic4{
    background-color: #DE1A1A;
    display: flex;
    /* margin: 1px; */
    direction: rtl;
    margin: 25px 25px 25px 25px;
}
.img1{
    float: right;
    width: 100%;
    text-align: right;
    height: 100% ;
}
.img1 img{
    width: 280px;
    height: 210px;
}
.img2{
    /* width: 100%; */
    text-align: right;
}
.img2 img{
    width: 280px;
    height: 210px;
}
.img3{
    width: 100%;
    text-align: right;
}
.img3 p{
    float:left;
}
.img3 img{
    width: 280px;
    height: 210px;
}
.img4{
    width: 100%;
    text-align: right;
}
.img4 img{
    width: 280px;
    height: 210px;
}
.list li a:hover{
    background-color: #DE1A1A;
    margin: 25px;
    border-radius: 15px;
    padding: 15px;
 
}
.all_new{
    text-align: right;
    margin-right: 25px;
    margin-left: 25px;
    background-color: #DE1A1A;
}
.pargraf{
    margin-top: 25px;
    text-align: right;
    margin-right: 25px;
}
.pargraf p{
    padding: 10px;
    border-right: 2px solid white;
}
.pargraf1{
    margin-top: 20px;
}
@media only screen and (min-width: 500px)
{
    .img1_1 p{
    color: white;
    font-size: 180%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin-bottom: 35px;
}
.img1_1 h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: right;
    font-size: 500%;
    margin-bottom: 15px;
}
    .img1 img{
        width: 100%;

    }
    .had{
    justify-content: space-between;
    border-bottom: 5px solid white;
    width: auto;
    height:100px;
    display: flex;
}
.had img{
    width: 100px;
    height:auto;
}
.list{
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
}

.list li a{
    font-size: 230%;
    padding: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.list li a:hover{
    background-color: #DE1A1A;
    margin: 25px;
    border-radius: 15px;
    padding: 15px;
 
}
.list li {
    margin-top: 20px;
    margin-left: 35px;
list-style: none;
}
.harde{
    color: beige;
    font-weight: bold;
}
}