@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "open sans";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    #009688 0%,
    #009688 130px,
    #d9dbd5 130px,
    #d9dbd5 100%
  );
}

.container {
  position: relative;
  width: 1396px;
  max-width: 100%;
  height: calc(100vh - 40px);
  background: #e4e6e1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  display: grid;
  grid-template-columns: 66% 34%;
}

.grid-item-left {
  color: #425451;
  background-color: #efeeee;
  display: grid;
  grid-template-rows: 80% auto;

  .middle {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    i {
      margin-bottom: 30px;
      font-size: 180px;
      color: #94b357;
      opacity: 60%;
    }
    h1 {
      font-size: 40px;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 20px;
    span {
      margin-left: 5px;
    }
  }
}

.grid-item-right {
  display: grid;
  grid-template-rows: 70px 45px 50px 80px;

  .rows {
    background-color: #ffffff;
    color: #425451;

    &__row-1 {
      background-color: #f4f4f4;
      display: flex;
      align-items: center;
      img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin-left: 180px;
        cursor: pointer;
      }
      i {
        margin: 20px;
        cursor: pointer;
        color: #425451;
        &:hover {
          color: #80a831;
        }
      }
    }
    &__row-2 {
      display: grid;
      grid-template-columns: 10% 90%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);

      .search {
        width: 100%;
        display: flex;

        input {
          width: 100%;
          outline: none;
          border: none;
          background-color: #f4f4f4;
          padding: 7px;
          border-radius: 10px;
          margin: 7px 5px;
          text-align: end;
          padding-right: 40px;
        }
        i {
          position: absolute;
          margin-left: 390px;
          align-self: center;
          cursor: pointer;
        }
      }

      .fa-bars-staggered {
        align-self: center;
        justify-self: center;
        cursor: pointer;
        color: #425451;
      }
    }

    &__row-3 {
      display: grid;
      grid-template-columns: 90% 10%;
      align-items: center;
      text-align: end;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);

      i {
        color: #009688;
        margin-right: 100%;
        cursor: pointer;
      }

      p {
        margin-right: 40px;
        cursor: pointer;
      }
    }

    &__row-4 {
      display: grid;
      grid-template-columns: 10% auto 15%;
      grid-template-rows: 50% 50%;
      color: #444254;
      font-size: 0.9em;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      cursor: pointer;

      &:hover {
        background-color: #e9e9e9;
      }

      img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: center;
      }
      .time {
        grid-row-start: 1;
        grid-column-start: 1;
        justify-self: center;
        align-self: center;
        // font-size: small;

        &__gettingMes {
          font-weight: bold;
          color: #80a831;
        }
      }
      .name {
        grid-row-start: 1;
        grid-column-start: 2;
        justify-self: end;
        align-self: flex-end;
        margin-right: 20px;
        font-size: medium;

        &__gettingMes {
          font-size: 1.1em;
          color: #2e3130;
          font-weight: bold;
        }
      }

      .check {
        grid-row-start: 2;
        grid-column-start: 2;
        justify-self: end;
        margin-right: 20px;
        color: #727b7a;

        // font-size: smaller;
      }

      .message {
        grid-row-start: 2;
        grid-column-start: 2;
        justify-self: end;
        margin-right: 20px;
        // font-size: smaller;
        // color: #869794;
        color: #646b6a;

        &__meSending {
          margin-right: 38px;
        }
        &__gettingMes {
          font-weight: bold;
          color: #475553;
        }
      }

      .notif {
        grid-row-start: 2;
        grid-column-start: 1;
        justify-self: center;
        font-size: larger;
        color: #80a831;
      }
    }
  }
}
